.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        margin-top: 10px;
        margin-bottom: 0;
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 1;
        padding-left: 10px;
        &:before {
            left: 0;
        }
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 266px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        height: 45px;
        padding: 12px 25px;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}